<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${entity.name} entity</title>
<STYLE TYPE="text/css"> 
table {
  border: thin solid Gray;
  border-collapse: collapse;
}
th,td {
  border: thin solid Gray;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;	
}
th {
  background-color: #B3AFDE;
}
td.sql {
  background-color: #e6f3ff;
}
td.pk {
  font-weight:bold; background-color: #e6f3ff;
}
</STYLE> 

</head>
<body>
## <h3>"$entity.name" entity</h3>
&larr; (<a href="../${model.name}.html">back to index</a>)
<br>
<br>
## #set($env.language = 'C#')
## #set($env.database = 'postgresql')
## Target language = #if($env.language != "") $env.language #else undefined #end <br>
## Target database = #if($env.database != "") $env.database #else undefined #end <br>
#if($env.language != "") #set($TARGET_LANG = $env.language) #else #set($TARGET_LANG = "undefined") #end
#if($env.database != "") #set($TARGET_DB   = $env.database) #else #set($TARGET_DB   = "undefined") #end

## ============== Attributes
## <h3>Entity attributes and links</h3>
<table style="font-family: Consolas, monospace;font-size: 14px;">
<tr> <td colspan="9" style="text-align: center;font-size: 18px;" ><b>$entity.name</b> entity </td> </tr>
<tr>
  <th>Name</th>  
  <th> </th>
  <th>Neutral type</th> 
  <th> </th>
  <th colspan="2" >Target language - $TARGET_LANG </th>
##  <th>$env.language type</th>
  <th colspan="3" >SQL - $TARGET_DB </th>
## <th>SQL type </th>
</tr>

#foreach( $attribute in $entity.attributes )
#if($attribute.isKeyElement())#set($class = "pk")#else#set($class = "")#end
<tr>
  <td class="$class">${attribute.name} </td>
  <td class="$class">#if ( $attribute.isKeyElement() ) <b>🆔</b> #else &nbsp; #end</td>
  <td>${attribute.neutralType}</td>
  <td>
#if ($attribute.isFK()            )FK &nbsp;#end
#if ($attribute.isNotNull()       )NN &nbsp;#end
#if ($attribute.isUnique()        )U &nbsp;#end
#if ($attribute.isGeneratedValue())G &nbsp;#end
  </td>
  <td>$attribute.name </td>
  <td>$attribute.type </td>
  <td>$attribute.sqlColumnName </td>
  <td>$attribute.sqlColumnType </td>
  <td>$attribute.sqlColumnConstraints </td>
</tr>
#end
#*
#foreach( $attribute in $entity.attributes )
<tr>
  <td class="$class">#if ( $attribute.isKeyElement() ) <b>🔑</b>#else &nbsp; #end</td>
  <td class="$class">$attribute.sqlColumnName</td>
  <td>$attribute.sqlColumnType </td>
  <td>#if ( $attribute.isFK() ) 🗝️FK #else &nbsp; #end</td>
  <td>$attribute.sqlColumnConstraints  </td>
  <td>$attribute.databaseDefaultValue </td>
  <td>$attribute.databaseComment </td>
</tr>
#end
*#

## ============== LINKS
##<h3>Links:</h3>
##<table>
#*
<tr>
  <th>Name</th>  
  <th>Neutral type</th> 
  <th>Cardinality </th>
</tr>
*#
## --- Links between entities (Model links != Database FK)
#foreach( $link in $entity.links )
#if( $link.isCardinalityToMany() )#set($suffix="[]")#else#set($suffix="")#end
#*
#if ( $link.isCardinalityManyToOne() )
$entity.name }o--|| $link.targetEntity.name : ""
#elseif ( $link.isCardinalityOneToOne() )
$entity.name ||--|| $link.targetEntity.name : ""
#elseif ( $link.isCardinalityOneToMany() )
$entity.name ||--o{ $link.targetEntity.name : ""
#elseif ( $link.isCardinalityManyToMany() )
#if($link.hasJoinEntity())#set($comment = $link.joinEntityName)#else#set($comment = "")#end
$entity.name }o--o{ $link.targetEntityName : "$comment"
#end
*#
<tr>
 <td>$link.fieldName</td>
 <td>&nbsp;→&nbsp;</td>
 <td>${link.targetEntityName}${suffix}</td>
 <td>${link.cardinality}#if($link.hasJoinEntity())($link.joinEntityName)#end</td>
 <td>$link.fieldName</td>
 <td>$fn.escapeXml($link.fieldType)</td>
</tr>
#end
</table>
## ==============
<br><br>
<h3>Database</h3>
<table>
<tr>
  <th>Table</th> 
  <th>Type</th> 
  <th>Schema</th> 
  <th>Catalog</th> 
  <th>Tablespace</th> 
  <th>Comment</th> 
</tr>
<tr>
  <td style="font-weight:bold">$entity.sqlTableName</td> 
  <td>$entity.databaseType</td> 
  <td>$entity.databaseSchema</td> 
  <td>$entity.databaseCatalog</td> 
  <td>$entity.databaseTablespace </td> 
  <td>$entity.databaseComment </td> 
</tr>
</table>
&nbsp;
## ============== Foreign Keys
## <h3>Foreign Keys:</h3>
<table>
<tr> 
 <th>Foreign Keys</th> 
 <th></th> 
 <th>Origin column</th> 
 <th></th> 
 <th>Ref table</th> 
 <th>Ref column</th> 
</tr>
#if ( $entity.databaseForeignKeysCount > 0 )
#foreach( $fk in $entity.databaseForeignKeys )
#foreach( $fkAttribute in $fk.attributes ) 
#set($href = "href=${QUOT}${fk.referencedEntity.name}.html${QUOT}")
<tr>
 <td>$fk.name</td>
 <td>$fkAttribute.ordinal</td>
 <td>${fkAttribute.originAttribute.sqlColumnName}</td>
 <td>&rarr;</td>
 <td><a $href>$fk.sqlReferencedTableName</a></td>
 <td>${fkAttribute.referencedAttribute.sqlColumnName}</td>
</tr>
#end
#end
#else
<tr>
 <td colspan="10">(no foreign key)</td>
</tr>
#end
</table>
## ==============
<br>
<p>Documentation generated by <a href="https://www.telosys.org/">Telosys</a> ( $now.date $now.time )</p>
</body>
</html>
