<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${entity.name} entity</title>
<STYLE TYPE="text/css"> 
table {
  border: thin solid Gray;
  border-collapse: collapse;

  font-family: Consolas, monospace;
  font-size: 14px;
}
th,td {
  border: thin solid Gray;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;	
}
th {
  background-color: #B3AFDE;
}
td.pk {
  font-weight:bold; background-color: #e6f3ff;
}
td.target-lang {
  background-color: #ebebeb;
}
td.sql {
##  background-color: #e6f3ff;
  background-color: #f7f7f7;
}
</STYLE> 

</head>
<body>
## <h3>"$entity.name" entity</h3>
&larr; (<a href="../${model.name}.html">back to index</a>)
<br>
<br>
## #set($env.language = 'C#')
## #set($env.database = 'postgresql')
## Target language = #if($env.language != "") $env.language #else undefined #end <br>
## Target database = #if($env.database != "") $env.database #else undefined #end <br>
#if($env.language != "") #set($TARGET_LANG = $env.language) #else #set($TARGET_LANG = "undefined language") #end
#if($env.database != "") #set($TARGET_DB   = $env.database) #else #set($TARGET_DB   = "undefined database") #end

## ============== Attributes
## <h3>Entity attributes and links</h3>
<table style="font-family: Consolas, monospace;font-size: 14px;">
<tr> <td colspan="9" style="text-align: center;font-size: 18px;" ><b>$entity.name</b> entity </td> </tr>
<tr>
  <th>Name</th>  
  <th> </th>
  <th>Neutral type</th> 
  <th> </th>
  <th colspan="2" >Target language - $TARGET_LANG </th>
##  <th>$env.language type</th>
  <th colspan="3" >Target database - $TARGET_DB </th>
## <th>SQL type </th>
</tr>

#foreach( $attribute in $entity.attributes )
#if($attribute.isKeyElement())#set($class = "pk")#else#set($class = "")#end
<tr>
## Telosys model attribute
  <td class="$class">${attribute.name} </td>
  <td class="$class">#if ( $attribute.isKeyElement() ) <b>🆔</b> #else &nbsp; #end</td>
  <td class="$class">${attribute.neutralType}</td>
  <td class="$class">
#if ($attribute.isFK()            )🗝️FK &nbsp;#end
#if ($attribute.isNotNull()       )NN &nbsp;#end
#if ($attribute.isUnique()        )U &nbsp;#end
#if ($attribute.isGeneratedValue())G &nbsp;#end
  </td>
## Target language attribute : name and type
  <td class="target-lang">$attribute.name </td>
  <td class="target-lang">$attribute.type </td>
## Target SQL column
  <td class="sql">$attribute.sqlColumnName </td>
  <td class="sql">$attribute.sqlColumnType </td>
  <td class="sql">$attribute.sqlColumnConstraints </td>
</tr>
#end

## ============== LINKS
## --- Links between entities (Model links != Database FK)
#foreach( $link in $entity.links )
#if( $link.isCardinalityToMany() )#set($suffix="[]")#else#set($suffix="")#end
<tr>
## Telosys model link
 <td>$link.fieldName</td>
 <td>&nbsp;→&nbsp;</td>
 <td><a href="${link.targetEntityName}.html">$fn.escapeXml($link.targetEntityName)</a>${suffix}</td>
 <td>${link.cardinality}#if($link.hasJoinEntity())($link.joinEntityName)#end</td>
## Target language link : name and type
 <td class="target-lang">$link.fieldName</td>
 <td class="target-lang">$fn.escapeXml($link.fieldType)</td>
</tr>
#end
</table>
## ============== Database table
<br><br>
## <h3>Database table</h3>
<table>
<tr>
  <th>Database Table</th> 
  <th>Type</th> 
  <th>Schema</th> 
  <th>Catalog</th> 
  <th>Tablespace</th> 
  <th>Comment</th> 
</tr>
<tr>
  <td style="font-weight:bold">$entity.sqlTableName</td> 
  <td>$entity.databaseType</td> 
  <td>$entity.databaseSchema</td> 
  <td>$entity.databaseCatalog</td> 
  <td>$entity.databaseTablespace </td> 
  <td>$entity.databaseComment </td> 
</tr>
</table>
&nbsp;
## ============== Primary Key
<table>
#if ( $entity.hasPrimaryKey() )
<tr> <th colspan="2">Primary Key</th> </tr>
#foreach( $col in $entity.sqlPrimaryKeyColumns )
<tr> <td> 🔑 </td> <td><b>$col</b></td> </tr>
#end
#else
<tr> <th>No Primary Key ⚠️</th> </tr>
#end
</table>
<br>
## ============== Foreign Keys
<table>
#if ( $entity.databaseForeignKeysCount > 0 )
<tr> 
 <th>Foreign Keys</th> 
 <th></th> 
 <th>Origin column</th> 
 <th></th> 
 <th>Ref table</th> 
 <th>Ref column</th> 
</tr>
#foreach( $fk in $entity.databaseForeignKeys )
#foreach( $fkAttribute in $fk.attributes ) 
#set($href = "href=${QUOT}${fk.referencedEntity.name}.html${QUOT}")
<tr>
 <td>#if($fkAttribute.ordinal == 1)🗝️ $fk.name #else &nbsp;#end</td>
 <td>$fkAttribute.ordinal</td>
 <td><b>${fkAttribute.originAttribute.sqlColumnName}</b></td>
 <td>&rarr;</td>
 <td><a $href>$fk.sqlReferencedTableName</a></td>
 <td>${fkAttribute.referencedAttribute.sqlColumnName}</td>
</tr>
#end
#end
#else
#* <tr> <td colspan="10">(no foreign key)</td> </tr> *#
<tr> <th>No Foreign Key</th> </tr>
#end
</table>
## ==============
<br>
<p>Documentation generated by <a href="https://www.telosys.org/">Telosys</a> ( $now.date $now.time )</p>
</body>
</html>
